img.img
{
    width:35%;

}

div.form
{
    display:flex;
    border :2px solid black;
    margin-left:250px;
    margin-right:250px;
    padding: 18px;
}

h4
{
    margin: 0;
    font-weight: normal;
}
